.navbar {
    background-color: rgb(255, 255, 255);
}
body {
    background: rgb(255,255,255);
    background: linear-gradient(180deg, rgba(255,255,255,1) 25%, rgba(33,146,147,1) 51%, rgba(16,75,69,1) 90%);
}
footer {
    background-color: #ffffff00;
}

.footer-container {
    display: grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    padding: 5px 15px; /* Smaller padding */
    font-size: 0.9rem; /* Smaller font size */
    max-width: 100%;
}

.footer-section {
    text-align: left;
}

.footer-bottom {
    text-align: left;
    font-size: 0.8rem; /* Reduce font size for bottom text */
}

.social-links {
    display: flex;
    gap: 15px; /* Space between icons */
    list-style: none;
    padding: 0;
    margin: 0;
}

.social-links li {
    display: inline;
}

.social-links a {
    color: #fff;
    font-size: 1.2rem; /* Size of icons */
    text-decoration: none;
}

footer {
    color: #fff;
    padding: 10px 0; /* Smaller padding */
    font-family: Arial, sans-serif;
}
.footer-container {
    font-size: 6px;
}
.nav-logo a {
    color: rgba(33,146,147,1);
}

#submit {
    background-color: #175e60;
    border: #175e60;
}
.scroll article {
  background-color: #175e60;
}

  @keyframes colorChange {
    0% {
      color: #175e60;
    }
    25% {
      color: rgb(46, 175, 177);
    }
    50% {
      color:  #2cdde3;
    }
    75% {
      color:  #71f2f7;
    }
    100% {
      color:  #175e60;
    }
  }
  
 
  
  #notefy {
    font-size: 2rem; /* Adjust size as needed */
    animation: colorChange 3s linear infinite;
  }
  


  
  