.navbar {
  background-color: rgb(255, 255, 255);
}

body {
  background: rgb(255, 255, 255);
  background: linear-gradient(180deg, rgba(255, 255, 255, 1) 25%, rgba(33, 146, 147, 1) 51%, rgba(16, 75, 69, 1) 90%);
}

footer {
  background-color: transparent;
  color: #fff;
  padding: 10px 0;
  font-family: Arial, sans-serif;
}

.footer-container {
  display: grid;
  grid-template-columns: 1fr auto;
  align-items: center;
  padding: 5px 15px;
  font-size: 0.9rem;
  max-width: 100%;
}

.footer-section {
  text-align: left;
}

.footer-bottom {
  text-align: left;
  font-size: 0.8rem;
}

.social-links {
  display: flex;
  gap: 15px;
  list-style: none;
  padding: 0;
  margin: 0;
}

.social-links li {
  display: inline;
}

.social-links a {
  color: white;
  font-size: 1.2rem;
  text-decoration: none;
}

.nav-logo a {
  color: rgba(33, 146, 147, 1);
}

#submit {
  background-color: #175e60;
  border: #175e60;
}

.scroll article {
  background-color: #175e60;
}

@keyframes colorChange {
  0% {
    color: #175e60;
  }

  25% {
    color: rgb(46, 175, 177);
  }

  50% {
    color: #2cdde3;
  }

  75% {
    color: #71f2f7;
  }

  100% {
    color: #175e60;
  }
}

#notefy {
  font-size: 2rem;
  animation: colorChange 3s linear infinite;
}

/* Welcome banner & Event container adjustments */
#events-container {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
  height: 550px;
  /* Increased height to fit more content */
  width: 80%;
}

#event-preview {
  width: 95%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
  background-color: transparent;
  padding: 35px;
  /* Added padding for spacing */
}

.arrow {
  position: absolute;
  top: 40%;
  transform: translateY(-50%);
  background-color: transparent;
  color: rgba(33, 146, 147, 1);
  border: none;
  padding: 0;
  cursor: pointer;
  z-index: 10;
  font-size: 2rem;
}

.arrow.left {
  left: 20px;
}

.arrow.right {
  right: 20px;
}

.arrow:hover {
  color: rgb(46, 175, 177);
  transform: translateY(-50%) scale(1.1);
}

article img {
  width: 100%;
}

article {
  padding-top: 3rem;
  padding-bottom: 1rem;
}

article p {
  margin: 0;
}

#exp {
  margin: 0;
}

footer {
  margin-top: 5rem;
}
.container-fluid {
padding: 0;
}